.apply_variable {
  background-color: var(--graf-surface-color);
  color: var(--gray-on-surface-color);
  margin: 0px 10px 50px;
  font-family: var(--poppins-font);
  justify-content: center;
}

.column {
  max-width: 425px;
}

.icon {
  font-size: 30px;
  color: var(--gray-on-surface-color);
}

.social_links{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--gray-on-surface-color);
}

.politica_link{
  color: var(--gray-on-surface-color);
  text-decoration: none;
}