.apply_variable {
}

.bg_image {
  opacity: 0.3;
}

.box {
  padding: 30% 0;
  margin-left: 2rem;
}

.header1 {
  text-indent: 15px;
  line-height: 35px;
  max-width: 80%;
  font-family: var(--poppins-font);
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white-on-surface-color);
  position: relative;
}

.parallelogram {
  width: 180px;
  height: 45px;
  transform: skew(-25deg);
  background: var(--red-accent-color);
  position: absolute;
  opacity: 0.9;
}

@media (min-width: 900px) {
  .header1 {
    font-size: 3rem;
    line-height: 1;
  }
  .parallelogram{
    width: 250px;
    height: 60px;
  }
}

@media (max-width: 576px){
  .box {
    padding: 30% 0;
    margin: 1rem;
  }

  .header1{
    line-height: 1.1;
    font-size: 2rem;
    max-width: 100%;
    text-indent: 5px;
  }
}



.header2 {
  color: var(--gray-on-surface-color);
  font-family: var(--dm-mono-font);
  margin: 5% 0px;
  /* max-width: 40%; */
  font-size: 1.5rem;
}



.btn_1 {
  background-color: var(--red-accent-color);
  color: var(--white-on-surface-color);
  font-family: var(--poppins-font);
  font-size: 12px;
  border-style: none;
  border-radius: 5px;
  margin: 0px 5px;
  width: 10rem;
  height: 2.2rem;
  opacity: 0.9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn_2 {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--white-on-surface-color);
  background-color: rgba(0, 0, 0, 0);
  font-family: var(--poppins-font);
  font-size: 12px;
  color: var(--white-on-surface-color);
  margin: 0px 5px;
  width: 10rem;
  height: 2.2rem;
}

.nav_link{
  text-decoration: none;
  z-index: 100;
  position: relative;
}

.section {
  display: block;
  border-style: solid;
  border-width: 8px 0px 0px 0px;
  border-color: var(--red-accent-color);
  color: var(--red-accent-color);
}

legend.text_left {
  float: none;
  width: auto;
  font-size: 16px;
  margin-left: 10%;
  padding: 0px 15px;
}

legend.text_right {
  float: none;
  width: auto;
  font-size: 16px;
  margin-left: 75%;
  padding: 0px 15px;
}

